body {
    background-color: lightslategrey;
    color: darkblue;
    font-family: Arial;
}

button {
    font-size: 15px;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    padding: 12px 15px;
}

h2 {
    text-align: center;
    color: blue;
    border: 2px solid whitesmoke;
}

.subscribe-b {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0.5px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    margin: 30px auto;
}

.is-subscribed {
    background-color: rgb(240, 240, 240);
    color: black;
}

.cost-input,
.claculate-cost {
    font-size: 15px;
    padding: 10px;
}

p,
h3 {
    color: white;
}

.rb, .bb, .sb {
    background-color: black;
    color: white;
    height: 100px;
    width: 100px;
    font-size: 40px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 10px;
    margin-bottom: 30px;
}

.rps {
    background: #0C0908;

}

.rps-reset {
    background: white;
    color: black;
    margin-left: 5px;
    margin-bottom: 20px;
    border: 2px solid black;
}
