body {
    background-color: lightblue;
    color: darkblue;
    font-family: Arial, sans-serif;
}

button {
    height: 22px;
    width: 100px;
    font-size: 16px;
    background-color: white;
    border: 2px solid darkblue;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
    color: white;
}

h2 {
    text-align: center;
    color: red;
}